
#bild {
    height: 100vh;
    
    filter: blur(3px)
}
.container {
    text-align: center;
 
}
.container img {
    display: block;
    margin: 0 auto;
}

#titel {
    z-index: 98754547547745745457457754 ;
    font-weight: 1;
    position: absolute; 
    top: 70vh;
    left: 39vw;
    color: white;
    font-family: "Lumanosimo", cursive;
    font-style: normal;
    font-size: 20;
}
    .aa{ 
overflow: hidden;
}

.anfangspoiler {
background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(111,48,116,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(111,48,116,1) 100%);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(111,48,116,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#6f3074",GradientType=1);
height: 100vh;
width: 100vw;
position: absolute;
transition: opacity 2s;
opacity: 1;

}
.anfangspoiler.hidden {
    opacity: 0;
    z-index: -52355;
}
#anfangspoiler {
    z-index: 8;
}

#h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.antwort {
    padding-left: 2px;
    padding-right: 2px;
   
    border-bottom: 1px black solid;
    margin-bottom: 7px;
}
.frage {
  
    font-size: 18 ;
    border-bottom: 1px black solid;
    margin-top: 2px;

    margin-bottom: 7px;
    padding-bottom: 7px;
}
.frage2 {
  
    font-size: 18 ;
    margin-top: 2px;

    margin-bottom: 1px;
    padding-bottom: 7px;
}
.inputs {
    border: 0px solid black;
    border-bottom: 1px solid black; 
}
.label {
    border: 0px solid black;
    border-bottom: 1px solid black; 

}
